name: CI
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    name: Nox
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('noxfile.py', 'pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Set up Nox
        uses: wntrblm/nox@5a277b752f6094150e25237d47c34168e2b7526e # 2026.02.09
        with:
          python-versions: '3.13, 3.14'
      - name: setup annotations for flake8 results
        uses: airtower-luna/flake8-annotations@d29f60162d03c010b8604adc1d5b825c989a9acc # node20
      - name: install mpv
        run: |
          sudo apt-get update
          sudo apt-get -y --no-install-recommends install mpv
      - name: Run tests and report coverage
        run: |
          nox --report test-report.json
      - name: Store coverage report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-report
          path: htmlcov/
      - name: Create job summary
        if: always()
        uses: airtower-luna/nox-report-to-job-summary@b01a0aa10a0f91fe3f435882beb9cb245df0e791
        with:
          report: test-report.json
