name: CI
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    name: Nox
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('noxfile.py', 'pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Set up Nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd # 2025.11.12
        with:
          python-versions: '3.13, 3.14'
      - name: setup annotations for flake8 results
        uses: airtower-luna/flake8-annotations@d29f60162d03c010b8604adc1d5b825c989a9acc # node20
      - name: install mpv
        run: |
          sudo apt-get update
          sudo apt-get -y --no-install-recommends install mpv
      - name: Run tests and report coverage
        run: |
          nox --report test-report.json
      - name: Store coverage report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: coverage-report
          path: htmlcov/
      - name: Create job summary
        if: always()
        uses: airtower-luna/nox-report-to-job-summary@4b6433494382dd455e52de79604013f91e847ab9
        with:
          report: test-report.json
